/* @import "custom.css"; */

@import "../node_modules/ngf-bootstrap/dist/bootstrap.min.css";
@import "../node_modules/ngx-toastr/toastr.css";

.hoverwell:hover {
    background-color: #485563;
    cursor: pointer;
  }
  
  .container {
    padding-top: 10px;
  }
  
  .pointable {
    cursor: pointer;
  }
  
  button {
    color: #555;
  }
  
  [hidden] {
    display: none !important;
  }
  
  .toast-success {
    background-color: #51a351;
  }
  .toast-error {
    background-color: #bd362f;
  }
  .toast-info {
    background-color: #2f96b4;
  }
  .toast-warning {
    background-color: #f89406;
  }
  .modal-body{
    /* height:250px!important; */
    overflow-y:scroll;
  }
  .modal-backdrop{
 background: rgba(0, 0, 0, 0.6)
  /* background: none!important; */
  }